<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Bootstrap 4 CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!--Bootstrap Table CSS-->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
        <!--Bootstrap table extension - filter control-->
        <link rel="stylesheet" type="text/css" href="/bootstrap_table/bootstrap-table-filter-control.css">
        <!--Bootstrap-select css-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
        <!-- Sidebar CSS -->
        <link rel="stylesheet" href="/webpage/sidebar.css">
        
        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!--Popper js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <!--Bootstrap 4 Javascript-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <!--Bootstrap Table-->
        <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
        <!--Bootstrap table extension - filter control-->
        <script src="/bootstrap_table/bootstrap-table-filter-control.js"></script>
        <!--Bootstrap table extension mobile-->
        <script src="/bootstrap_table/bootstrap-table-mobile.js"></script>
        <!--Bootstrap-select js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div id="head">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar" style="background-color: #cce3f3;">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn">
                            <i class="fas fa-align-justify"></i>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
                        <div class="collapse navbar-collapse ml-2" id="navbarSupportedContent">
                            <ul class="nav navbar-nav mr-auto">

                                <li class="nav-item active">
                                    <a class="nav-link" href="/"><span>Home<i class="fas fa-angle-right ml-2"></i></span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/"><span>Manage Tasks</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-item dropdown active ml-auto mr-2">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Task Reporting System
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-dark" href="/">Task Reporting System</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-dark" href="http://192.168.0.193:200">Deal Updates Database</a>
                            </div>
                        </div>
                        <span class="nav-item ml-auto">
                            Logged in as <br><b>Adam Kong</b>
                        </span>
                    </div>
                </nav>
            </div>
            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <li>
                        <a href="/" class="text-dark">
                        <i class="fas fa-clipboard-list"></i>
                            Manage Tasks
                        </a>
                    </li>
                    <li>
                        <a href="task_update" class="text-dark">
                            <i class="fas fa-edit"></i>
                            Add Update
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-dark">
                            <i class="fas fa-file"></i>
                             Show Report
                        </a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-dark">
                            <i class="fas fa-cog"></i>
                            Administration
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#" class="text-dark">Task Group</a>
                            </li>
                            <li>
                                <a href="#" class="text-dark">Sub Group</a>
                            </li>
                            <li>
                                <a href="#" class="text-dark">Frequency Type</a>
                            </li>
                            <li>
                                <a href="#" class="text-dark">Update Type</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="content">
                <div class="container-fluid">
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="card">
                                <h6 class="card-header" style="background-color: rgba(16, 0, 196, 0.2);">
                                    Add New Task
                                </h6>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 pr-0">
                                            Name (System created)
                                        </div>
                                        <div class="col-4 pr-0">
                                            Group
                                        </div>
                                        <div class="col-4">
                                            Sub Group
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-4 pr-0">
                                            <textarea id='taskName' type="text" class="form-control" rows="1" disabled></textarea>
                                        </div>
                                        <div class="col-4 pr-0">
                                            <select class="selectpicker form-control" data-size="5" id="group" required>
                                                <option value="" selected disabled>&#160;</option>
                                                <option value="01">01 Business Development</option>
                                                <option value="02">02 Research/Dealing</option>
                                                <option value="03">03 Fund/Portfolio reporting and financing</option>
                                                <option value="04">04 Investment execution</option>
                                                <option value="05">05 Investment Support</option>
                                                <option value="06">06 L&C</option>
                                                <option value="07">07 Fund operations</option>
                                                <option value="08">08 Investment valuations and fund audits</option>
                                                <option value="09">09 Group acctg/spv’s mgt</option>
                                                <option value="10">10  HR/Admin/IT</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="selectpicker form-control" data-size="5" id="subGroup" required>
                                                <option value="" selected disabled>&#160;</option>
                                                <option value="ASM books">ASM books</option>
                                                <option value="Compliance checking">Compliance checking</option>
                                                <option value="Deal Tax Matter">Deal Tax Matter</option>
                                                <option value="Tax - Inv or Fund">Tax - Inv or Fund</option>
                                                <option value="Valn Mtg">Valn Mtg</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-4 pr-0">
                                            Frequency
                                        </div>
                                        <div class="col-4 pr-0">
                                            Keyword
                                        </div>
                                        <div class="col-4">
                                            Description
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-4 pr-0">
                                            <select class="selectpicker form-control" data-size="5" id="frequency" required>
                                                <option value="" selected disabled>&#160;</option>
                                                <option value="Perpetual">Perpetual</option>
                                                <option value="Periodic">Periodic</option>
                                                <option value="Project">Project</option>
                                                <option value="AdHocOneOff">AdHocOneOff</option>
                                            </select>
                                        </div>
                                        <div class="col-4 pr-0">
                                            <input id="keywords" type="text" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <input id="description" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-2">
                                            <button type="button" class="btn btn-success">Add Task</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="card">
                                <h6 class="card-header" style="background-color: rgba(16, 0, 196, 0.2);">
                                    Task List
                                </h6>
                                <div class="card-body">
                                    <table class="table table-hover table-sm" id="taskList" data-sortable="true" data-filter-control="true">
                                        <thead>
                                            <tr>
                                                <th data-field='name' data-sortable="true"  data-filter-control="input">Name</th>
                                                <th data-field='group' data-sortable="true"  data-filter-control="select">Group</th>
                                                <th data-field='subGroup' data-sortable="true"  data-filter-control="select">Sub Group</th>
                                                <th data-field='frequency' data-sortable="true"  data-filter-control="select">Frequency</th>
                                                <th data-field='keywords' data-sortable="true"  data-filter-control="input">Keywords</th>
                                                <th data-field='description' data-sortable="true"  data-filter-control="input">Description</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Sidebar initiation
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    // open or close navbar
                    $('#sidebar, #content').toggleClass('active');
                    // close dropdowns
                    $('.collapse.in').toggleClass('in');
                    // and also adjust aria-expanded attributes we use for the open/closed arrows
                    // in our CSS
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
        <script>
            // Task List bootstrap table initiation

            // test json data
            const jsonData = [{'name': '05Deal tax matter_Tax advice_Project', 'group':'Investment Support', 'subGroup':'Deal Tax Matter', 'frequency':'Project', 'keywords':'Tax advice', 'description':'it is a tax advice task'}, {'name': '05Tax - Inv or Fund_COPT1 liquidation_Project', 'group':'Investment Support', 'subGroup':'Tax - Inv or Fund', 'frequency':'Project', 'keywords':'COPT1 liquidation', 'description':'it is a liquidation task'}, {'name': '06Compliance checking_Lippo checking_AdHocOneOff', 'group':'L&C', 'subGroup':'Compliance checking', 'frequency':'AdHocOneOff', 'keywords':'Lippo checking', 'description':'it is a lippo task'}, {'name': '08Valn Mtg_Valn mtg_Project', 'group':'Investment valuations and fund audits', 'subGroup':'Valn Mtg', 'frequency':'Project', 'keywords':'Valn mtg', 'description':'it is a valn task task'}, {'name': '09ASM books_2018Q3 Mgt Rpt_Perpetual', 'group':'Group acctg/spv’s mgt', 'subGroup':'ASM books', 'frequency':'Perpetual', 'keywords':'2018Q3 Mgt Rpt', 'description':'it is a mgt rpt task'}]


            document.addEventListener("DOMContentLoaded", () => {
                $('#taskList').bootstrapTable({
                    data: jsonData
                });
            });
        </script>
        <script>
            const setTaskName = () => {
                const taskName = `${document.querySelector('#group').value}${document.querySelector('#subGroup').value}_${document.querySelector('#keywords').value}_${document.querySelector('#frequency').value}`
                document.querySelector('#taskName').value = taskName;
            }

            document.querySelector('#group').addEventListener('change', () => setTaskName());
            document.querySelector('#subGroup').addEventListener('change', () => setTaskName());
            document.querySelector('#frequency').addEventListener('change', () => setTaskName());
            document.querySelector('#keywords').addEventListener('input', () => setTaskName());
        </script>
    </body>
</html>