<nav class="navbar navbar-light fixed-top mb-0 pt-1" id="navbar" style="background-color: #cce3f3;">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn">
            <i class="fas fa-align-justify"></i>
        </button>