<ul class="list-unstyled components">
        <li>
            <a href="/" class="text-dark">
            <i class="fas fa-clipboard-list"></i>
                Manage Tasks
            </a>
        </li>
        <li>
            <a href="task_update" class="text-dark">
                <i class="fas fa-edit"></i>
                Add Update
            </a>
        </li>
        <li>
            <a href="#" class="text-dark">
                <i class="fas fa-file"></i>
                 Show Report
            </a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-dark">
                <i class="fas fa-cog"></i>
                Administration
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#" class="text-dark">Task Group</a>
                </li>
                <li>
                    <a href="#" class="text-dark">Sub Group</a>
                </li>
                <li>
                    <a href="#" class="text-dark">Frequency Type</a>
                </li>
                <li>
                    <a href="#" class="text-dark">Update Type</a>
                </li>
            </ul>
        </li>
    </ul>