<ul class="list-unstyled components">
    <li>
        <a href="/" class="text-dark mt-2 d-lg-none">
            <h5>Task Reporting System</h5>
        </a>
    </li>
    <li>
        <a href="/" class="text-dark">
        <i class="fas fa-clipboard-list"></i>
            Manage Tasks
        </a>
    </li>
    <li>
        <a href="/weekly_updates" class="text-dark">
            <i class="fas fa-edit"></i>
            Add Updates
        </a>
    </li>
    <li>
        <a href="/show_report" class="text-dark">
            <i class="fas fa-file"></i>
                Show Report
        </a>
    </li>
    <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-dark">
            <i class="fas fa-cog"></i>
            Administration
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a href="/admin_group" class="text-dark">Task Group</a>
            </li>
            <li>
                <a href="/admin_subgroup" class="text-dark">Sub Group</a>
            </li>
            <li>
                <a href="/admin_freq" class="text-dark">Frequency Type</a>
            </li>
            <li>
                <a href="/admin_updatetype" class="text-dark">Update Type</a>
            </li>
        </ul>
    </li>
</ul>