<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <% include partials/common/common_css.ejs %>
        <!--Bootstrap-select css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

        <% include partials/common/common_js.ejs %>
        <!--Bootstrap-select js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div id="head">
                <% include partials/common/head_component_upper.ejs %>
                <span class="nav-item active d-none d-md-block">
                    <a class="nav-link text-dark pr-0" href="/">Home<i class="fas fa-angle-right ml-2"></i></a>
                </span>
                <span class="nav-item active mr-auto">
                    <a class="nav-link text-dark" href="/admin_subgroup">Admin - Sub Group</a>
                </span>
                <% include partials/common/head_component_lower.ejs %>
            </div>
            <nav id="sidebar">
                <% include partials/common/sidebar_component.ejs %>
            </nav>
            <div id='content'>
                Admin Page for Sub Group
            </div>
        </div>
        <script src="/common/sidebar_init.js"></script>
    </body>
</html>
